<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.iut.komakdast"
    android:versionCode="8"
    android:versionName="1.0.7">

    <!--<uses-permission android:name="ir.tgbs.iranapps.permission.BILLING" />-->
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="ir.iut.komakdast.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="ir.treeco.aftabe2.permission.C2D_MESSAGE" />

    <application
        android:name="ir.iut.komakdast.MainApplication"
        android:icon="@drawable/puzzlelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/fullScreenTheme"
        >
        <receiver
            android:name="ir.iut.komakdast.Synchronization.Synchronize"
            android:label="NetChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ir.iut.komakdast.View.Activity.MainActivity"
            android:label="Aftabe"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"

            >

        </activity>

        <activity
            android:name="ir.iut.komakdast.View.Activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ir.iut.komakdast.View.Activity.IntroActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="ir.iut.komakdast.View.Activity.CreditsActivity"
            android:screenOrientation="portrait">

        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.treeco.aftabe2" />

            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="ir.treeco.aftabe2" />

            </intent-filter>
        </receiver>

        <service
            android:name="ir.iut.komakdast.Service.RegistrationIntentService"
            android:exported="false"></service>

        <service
            android:name="ir.iut.komakdast.Service.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="ir.iut.komakdast.Service.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver android:name="ir.iut.komakdast.Service.ActionEventReceiver" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4150c278d5e47ac44513db398d88c074d628b50e" />

        <activity
            android:name="ir.tapsell.tapsellvideosdk.VideoPage"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="ir.tapsell.tapsellvideosdk.DirectAdMiddleActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <service android:name="ir.tapsell.tapsellvideosdk.services.asynchservices.core.HttpService"></service>

    </application>

</manifest>
